extends layout

block content
  br
  if !users
    h1=title

  if users
    br
    h3 みかんを数えましょう！！！
    section
      each user in users
        div
          h2 #{user.username}
          h3 #{user.userId}
          time #{user.date}
  div#app