doctype html
html
  head
    title Mikan Counter
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/style.css")

  body
    //- script(src="/javascripts/bundle.js")
    nav(class="navbar navbar-dark" style="background: linear-gradient(90deg, #fb7742 , #f9d423);")
      div(class="navbar-header")
        a(class="navbar-brand btn" href="/") Mikan Counter
      ul(class="nav nav-pills")
        if user
          li.nav-item
            case user.provider
              when "facebook"
                a(class="btn" style="color:#32ab45;" href="/logout") #{user.displayName} をログアウト
              when "twitter"
                a(class="btn" style="color:#32ab45" href="/logout") #{user.username} をログアウト
              when "github"
                a(class="btn" style="color:#32ab45;" href="/logout") #{user.username} をログアウト
        else
          li.nav-item
            div#dropdown

    div(class="container")
      block content
      script(src="/javascripts/bundle.js")
