body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dropdown{  
  color: #fff;
}

.countup {
  background-image: url("../img/logo.png")
}

.counter {
  color:#fb7742;
}